body {
    background-color: black;
    align-items: center;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
  }

footer {
    position: absolute; 
    bottom: 6px;
}