body {
    background-color: black;
    align-items: center;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
  }

footer {
    position: absolute; 
    bottom: 6px;
}

.topnav input[type=text] {
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
